body{
    background-color: rgb(25, 25, 87);
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button{
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity:0.6;
}

.container{
    padding: 16px;

}

.buttons-container{
    margin-bottom: 16px;
    width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.buttons-container button{
    border: none;
    background: #1e2ede;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    height: 32px;
    transition: filter 0.2s;
}

.buttons-container button:hover {
    filter: brightness(0.8);
}

.content-container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background: green;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    /* background: red; */
}

.content-right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

}

.mini-grid {
    width: 120px;
    height: 120px;
    background: green;
    display: flex;
    flex-wrap: wrap;
}

.mini-grid div{
    width: 20px;
    height: 20px;
}

.content-right h3{
    font-size: 32px;
    margin-top: 24px;
}

.shapePainted {
    background: red;
    border: 2px solid black;
}


.blue{
    background: linear-gradient(to right, #0033cc, #99b3ff);
}

.yellow {
    background: linear-gradient(to right, #ffcc00, #ffeb99);
}

.red {
    background: linear-gradient(to right, #ff3300, #ff5c33, #ff8566);
}

.orange {
    background: linear-gradient(to right, #b34700, #ff751a, #ff944d);
}

.pink {
    background: linear-gradient(to right), #cc0099, #ff80ff, #ff99ff;
}

.mobile-buttons-container{
    margin-top: 20px;
    max-width: 300px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 64px 64px;
    gap: 12px;

}

.mobile-buttons-container button{
    background: linear-gradient(to right, #0239df,  #2167ff);
    border:none;
    border-radius: 4px;
}

.mobile-buttons-container button span{
    color: white;
    font-weight: bold;
}



/* RESPONSIVIDADE */
@media (max-width: 470px) {
    .content-right{
        margin-left: 16px;
    }

    .content-right h3 {
        font-size: 20px;
        text-align: center;
    }

    .score{
        display: block;
    }
}

@media (max-width: 990px){
    .mobile-buttons-container{
        display: grid;
    }
}